.page-header
  .row.center-row
    %h1.col-sm-11.center
      Projects
    .col-sm-1.center
      = link_to 'Create Project', new_project_path, class: "btn btn-info"
%table.table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @projects.each do |project|
      %tr
        %td=link_to project.name, project
        %td
          .pull-right
            = link_to 'Edit', edit_project_path(project), class: "btn btn-primary"
