= page_header "Projects" do
  = link_to 'New Project', new_project_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %th Name
      %th Tasks
      %th Memberships
      %th
  %tbody
    - @projects.each do |project|
      %tr
        %td=link_to project.name, project
        %td=link_to project.tasks.count, project_tasks_path(project)
        %td=link_to project.memberships.count, project_memberships_path(project)
        %td
          .pull-right
            -if project.memberships.find_by(user_id: current_user.id, role: 'owner') || current_user.admin?
              = link_to 'Edit', edit_project_path(project), class: "btn btn-primary"

- unless current_user.tracker_token.lstrip.empty?
  = page_header "Projects"

  %table.table
    %thead
      %tr
        %th Name
    %tbody
      - @tracker_projects.each do |tracker_project|
        %tr
          %td=link_to tracker_project[:name], tracker_project_path(tracker_project[:id])
