.row.center-row
  %ol.breadcrumb
    %li=link_to "Projects", projects_path
    %li.active=@project.name
  %h1.col-sm-10
    = @project.name
  .col-sm-1.center
    = link_to 'Edit', edit_project_path(@project), class: "btn btn-primary"
  .col-sm-1.center
    = link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

=link_to pluralize(@project.tasks.count, "Task")
