/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$header-fontstack: 'Montserrat', sans-serif;
$body-fontstack: 'Source Sans Pro', sans-serif;

/* Colors */
$galvanize-orange: #FF9900;

// Center in containing elements
.center-row {
    display:table;
}
.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.valign {
  vertical-align: middle;
}

// Bootstrap override
.table tbody>tr>td{
  vertical-align: middle;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #999;
}

html {
  height: 100%;
}

body {
  // keep footer from covering content at bottom of page
  min-height: 100%;
  clear: both;
  margin-bottom: 50px;

  padding-top: 60px;
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  font-family: $body-fontstack;
  font-size: 16px;
  font-weight: normal;
}

.homepage {
  background: image-url('bg-mountains.jpg') 0 0 fixed;
  background-size: cover;
}

.navbar {
  .navbar-brand,
  .navbar-nav > li > a {
    decoration: none;
  }
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  font-family: $header-fontstack;

  h1 {
    margin-bottom: 20px;
  }
}

.famous-quote{
  background-color: rgba(255,255,255, .7);
  font-weight: 700;
  border-left: 5px solid #428BCA;
}

.page-footer {
  background-color: #FFF;
  border-top: 1px solid black;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  .link-wrapper {
    display: inline-block;
    img {
      height: 20px;
      padding: 0 5px;
    }
  }
}

.faq-page-header {
  margin-top: 80px;
  margin-bottom: 40px;
}

.faq-answer {
  margin-bottom: 40px;
}

.comment {
  margin-bottom: 18px;
}

.membership-form {
  padding-bottom: 10px;
  div {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

.about-stats {
  margin-top: 15px;
}

.glyphicon-remove {
  margin-left: 10px;
}

.filter-links {
  margin-right: 10px;
}

.badge {
  margin-left: 5px;
}
